<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHOOL-MS</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Qwigley&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/fonts/beyond_the_mountains-webfont.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/static/css/courses.css">
    <link rel="stylesheet" href="css/fonts/beyond_the_mountains-webfont.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google font-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!--font awesome-->
</head>
<body id="co-curricular">
  <!--Navbar-->
    <nav id="navbar">
        <h2><a href="../templates/index.html"><span class="text-primary">TUSHAURIANE</span><br>Institute.</a></h2>
        <ul>
            <li><a href="../templates/index.html">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="../templates/courses.html">Courses</a></li>
            <li><a href="../templates/co_curricular.html">Co_Curricular</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li><a href="../templates/student_portal.html">Student_portal</a></li>
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><em>facebook</em></li>
        </ul>
    </nav>
    <div class="container">
         <!--Showcase Area-->
    <header id="showcase">
        <div class="showcase-content">
            <div class="container">
                <h1>Cocurricular<br><span class="text-primary"></span>Activities</h1>
                <a href="../templates/register.html" class="btn">ENROLL TODAY</a>
            </div>
        </div>
    </header>
    <body>

        <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Soccer</h2>
            </div>
            <div class="card-body">
                <img src="../static/co_curricular_images/Soccer.jpg" alt="soccer" width="500" >
            </div>
            <div class="card-footer">
               <p>Student soccer teams both male and female</p>
            </div>
        </div>
        </div>
         <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2> Swimming</h2>
            </div>
            <div class="card-body">
                <img src="../static/co_curricular_images/swimming.jpg" alt="swimming" width="500">
            </div>
            <div class="card-footer">
               <p>The best swim team in the country</p>
            </div>
        </div>  
        </div>
        </div>
        <br>
        <br>
        <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Chess Club</h2>
            </div>
            <div class="card-body">
                <img src="../static/co_curricular_images/chess.jpg" alt="chess" width="500">
            </div>
            <div class="card-footer">
               <p>Keeping the intelligence high with Chess</p>

            </div>
        </div>
        </div>
         <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Rugby</h2>
            </div>
            <div class="card-body">
                <img src="../static/co_curricular_images/Rugby.jpg" alt="rugby" width="500">
            </div>
            <div class="card-footer">
               <p>Strong and fast is our robust rugby team</p>
            </div>
        </div>
        </div>
        </div>


       </body>
<div>

    </body>
    </html>