<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHOOL-MS</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Qwigley&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/fonts/beyond_the_mountains-webfont.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/static/css/courses.css">
    <link rel="stylesheet" href="css/fonts/beyond_the_mountains-webfont.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google font-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!--font awesome-->
</head>
<body id="Home">
  <!--Navbar-->
    <nav id="navbar">
        <h2><a href="Home"><span class="text-primary">TUSHAURIANE</span><br>Institute.</a></h2>
        <ul>
            <li><a href="/app/templates/index.html">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="/app/templates/courses.html">Courses</a></li>
            <li><a href="/app/templates/co_curricular.html">Co_Curricular</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li><a href="/app/templates/student_portal.html">Student_portal</a></li>
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><em>facebook</em></li>
        </ul>
    </nav>
    <div class="container">
         <!--Showcase Area-->
    <header id="showcase">
        <div class="showcase-content">
            <div class="container">
                <h1>Our Courses<br><span class="text-primary"></span></h1>
                <a href="../templates/register.html" class="btn">ENROLL TODAY</a>
            </div>
        </div>
    </header>
    <h1>Our Courses</h1>
    <body>

        <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2> Introduction to Computers</h2>
            </div>
            <div class="card-body">
                <p>In this digital era, being computer savvy is a necessity for advancing your career, join us.</p>
                   <ul>
                       <li>Definition and computer hardware</li>
                       <li>Word processors packages</li>
                       <li>Presentations using power point</li>
                       <li>Data analysis using Spreadsheets</li>
                   </ul>
            </div>
            <div class="card-footer">
               <p id="course-cost">KES 60,000/-</p>
               <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>  
        </div>
         <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2> Introduction to programming</h2>
            </div>
            <div class="card-body">
                <p>Speak the language of computers and create your own basic software or software for others to use.</p>
                   <ul>
                       <li>Definition and programming languages</li>
                       <li>Visual basic</li>
                       <li>Object Oriented Programming</li>
                       <li>Project</li>
                   </ul>
            </div>
            <div class="card-footer">
               <p id="course-cost">KES 60,000/-</p>
               <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>  
        </div>
        </div>
        <br>
        <br>
        <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Web Design 101</h2>
            </div>
            <div class="card-body">
                <p> This is the course that enables you to create websites for yourself and others that may need them.</p>
                             <ul>
                                 <li>Html and CSS</li>
                                 <li>Scripting Languages</li>
                                 <li>Html and CSS</li>
                                 <li>Scripting Languages</li>
                             <ul>
            </div>
            <div class="card-footer">
               <p id="course-cost">KES 60,000/-</p>
               <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>  
        </div>
         <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2> Databases</h2>
            </div>
            <div class="card-body">
                <p>Learn more about digital data storage, dependencies, relationships, analysis, retrieval and many more.</p>
                                   <ul>
                                       <li>Introduction to Databases</li>
                                       <li>Types of Databases</li>
                                       <li>Database Relationships</li>
                                       <li>Database application</li>
                                   </ul>
            </div>
            <div class="card-footer">
               <p id="course-cost">KES 60,000/-</p>
               <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>  
        </div>
        </div>
           

       </body>
<div>

    </body>
    </html>