
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      
    </title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/landing_page.css" />
    <link rel="stylesheet" href="../static/main.css" />
  </head>

  <body id="Home">
    <!--Navbar-->
    <nav id="navbar">

      <h2>
        <a href="Home"
          ><span class="text-primary">TUSHAURIANE</span><br />Institute.</a
        >
      </h2>
      <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="courses.html">Courses</a></li>
        <li><a href="co_curricular.html">Co_Curricular</a></li>
        <li><a href="#Contact">Contact</a></li>
        <li><a href="student_portal.html">Student_portal</a></li>
        <li>
          <a href="https://www.facebook.com/kelvin.klein.1460"
            ><i class="fab fa-facebook-f"></i></a
          ><em>facebook</em>
        </li>
      </ul>
    </nav>

    <!--Showcase Area-->
    <header id="showcase">
      <div class="showcase-content">
        <div class="container">
          <h1>
            Strive to excel<br /><span class="text-primary">Next Level</span>
          </h1>
          <a href="about" class="btn">FIND OUT MORE</a>
        </div>
      </div>
    </header>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" style="color: #28a745; text-align: center" id="about">
          <strong> ABOUT</strong>
        </h1>
        <hr />
        <p style="font-family: 'Eczar', serif; font-size:25px">
          We create life enhancing learning experiences that help students
          worldwide to develop personally and professionally and that enrich
          their future opportunities.
        </p>
        <br>
        <h3 style="color: #28a745">ESTABLISHED</h3>
        <p class="lead" style="font-family: 'Eczar', serif; font-size:25px">
          Tushauriane is an esteemed institution of higher learning in Kenya
          established in 2015.
        </p>
        <br>
        <h3 style="color: #28a745">TUSHAURIANE AT A GLANCE</h3>

        <div class="row">
          <div class="col-md-4">
            <img
              src="../static/photos/classroom.jpg"
              alt="Lecture"
              style="width: 100%; height:35vh"
            />
          </div>
          <div class="col-md-4">
            <img
              src="../static/photos/discussion.jpg"
              alt="Groupwork discussion"
              style="width: 100%; height:35vh"
            />
          </div>
          <div class="col-md-4">
            <img
              src="../static/photos/Library.jpg"
              alt="Library"
              style="width: 100%; height:35vh"
            />
          </div>
        </div>
        <br>
        <h3 style="color: #28a745">LEADERSHIP</h3>
        <p style="font-family: 'Eczar', serif; font-size:25px">
          Tushauriane's leadership is responsible for the strategic vision for
          the university. Masomo Bora leads Tushauriane as the 4th President of
          the university.
        </p>
        <p style="font-family: 'Eczar', serif; font-size:25px">
          The Chief of Academics fosters collaboration across the university and
          manages policies and practices that affect the academic life.
        </p>
      </div>
    </div>

    <div class="container" id="">
      <h1 class="display-4" style="text-align: center" style="color: #28a745">
        WHO WE ARE
      </h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="height: 70vh;">
            <div class="card-block">
              <h4 style="color: #28a745"><strong>MISSION STATEMENT</strong></h4>

              <p class="card-text" style="font-family: 'Eczar', serif; font-size:15px">
                The mission is to contribute to society through the pursuit of
                education, learning and research at the highest international
                levels of excellence.
              </p>
            </div>
            <br />
            <div class="card-block">
              <h4 style="color: #28a745"><strong> VISION STATEMENT</strong></h4>
              <p class="card-text" style="font-family: 'Eczar', serif; font-size:15px">
                The college’s buildings and estate are not only necessary for
                our academic work, but also contribute to Tushauriane’s
                reputation as a city of learning, heritage and culture. They
                form a vital part of the rich architecture of the city and
                provide a beautiful environment for visitors and Tushauriane’s
                residents, as well as for students and staff of the University.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card" style="height: 70vh;">
            <div class="card-block">
              <h4 class="card-title" style="color: #28a745">
                <strong>OUR CORE VALUES</strong>
              </h4>
              <p class="card-text" style="font-family: 'Eczar', serif; font-size:15px">
                Our Core Values are at the heart of our business. They define
                who we are, how we work and guide how we act with each other and
                with other stakeholders.
              </p>
              <ul>
                <li style="font-family: 'Eczar', serif; font-size:15px">
                  INTEGRITY: We build relationships through trust, honesty and
                  respect.
                </li>
                <li style="font-family: 'Eczar', serif; font-size:15px">
                  CREATIVITY: We are not afraid to be different and we celebrate
                  innovation.
                </li>
                <li style="font-family: 'Eczar', serif; font-size:15px">
                  PASSION & PRIDE: We love what we do and strive for excellence
                </li>
                <li style="font-family: 'Eczar', serif; font-size:15px">
                  CARE: We put our students and their goals at the heart of
                  everything we do
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card" style="height: 70vh;">
            <div class="card-block">
              <h4 style="color: #28a745"><strong>EDUCATION</strong></h4>
              <ul>
                <li style="font-family: 'Eczar', serif; font-size:15px">
                  Education which enhances the ability of students to learn
                  throughout life.
                </li>
                <li style="font-family: 'Eczar', serif; font-size:15px">Quality and depth of provision across all subjects.</li>
                <li style="font-family: 'Eczar', serif; font-size:15px">
                  Strong support for individual researchers as well as research
                  groups.
                </li>
              </ul>
            </div>
            <br />
            <div class="card-block">
              <h4 style="color: #28a745"><strong>OTHER ACTIVITIES</strong></h4>
              <p style="font-family: 'Eczar', serif; font-size:15px">
                The opportunities for broadening the experience of students and
                staff through participation in sport, music, drama, the visual
                arts, and other cultural activities
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="jumbotron">
        
        <div class="row">
            <div class="col-md-6">
              <div class="card" style="padding-left: 20rem; font-family: 'Eczar', serif; font-size:15px">
                <p></p>
                <h4><b>Tushauriane Institute</b></h4>
                <p>P.O Box 2354 00200 City Square</p>
                <p>Nairobi, Kenya,</p>
                
                
                  </div>
            </div>
            <div class="col-md-6">
              <div class="card" style="font-family: 'Eczar', serif; font-size:15px">
                <p></p>
                <h6><b>Email and Telephone Number</b> </h6>
                <p><i class="fas fa-phone-alt"></i>
                    Tel: + 254 (020) 3020622</p>
                <p><i class="fa fa-envelope-open"></i>
                    Email: info@tushauriane.ac.ke</p>
                
              </div>
            </div>


      </div>

  </body>
</html>
