<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHOOL-MS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body id="Home">
  <!--Navbar-->  
    <nav id="navbar">
        <h2><a href="Home"><span class="text-primary">School</span>Ms</a></h2>
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="co_curricular.html">Co_Curricular</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li><a href="student_portal.html">Student_portal</a></li>
            <li><a href="https://www.facebook.com/kelvin.klein.1460"><i class="fab fa-facebook-f"></i></a><em>facebook</em></li>
        </ul>
    </nav> 
    
    <!--Showcase Area-->
    <header id="showcase">
        <div class="showcase-content">
            <div class="container">
                <h1>Strive to exel<br><span class="text-primary">Next Level</span></h1>
                <a href="about" class="btn">FIND OUT MORE</a>
            </div>
        </div>
    </header>

        
    </body>
    </html>