


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHOOL-MS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="../static/css/navbar.css">


</head>
<body id="Home">

    <nav id="navbar">
        <h2><a href="/"><span class="text-primary">TUSHAURIANE</span><br>Institute</br></a></h2>
        <ul>
            <li><a href="/">Home</a></li>
            
            <li><a href="/courses">Courses</a></li>
            <li><a href="/curriculars">Co_Curricular</a></li>
            
                {% if current_user.is_authenticated %}
                    <li style="color:white;padding:15px;">{{current_user.name}}</li>
                    <li><a href="{{url_for('main.profile',student_id=current_user.student_id)}}">Your student portal</a></li>
                    <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
                {% else %}
                    <li><a href="{{url_for('auth.login')}}">Sign In to Student Portal</a></li>
                {% endif %}
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><em>facebook</em></li>
        </ul>
    </nav> 
    
    <!--Showcase Area-->
   

        
    </body>
    </html>

